:root {
  --font-color: #000;
  --bg-color: #fff;
  --panel-color: rgb(245, 245, 245);
  --day-color: #aaa;
}

[data-theme="dark"] {
  --font-color: #000;
  --bg-color: #777;
  --panel-color: #f5f5f5;
  --day-color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--font-color);
  font-size: 25px;
  font-weight: 400;
}
body {
  border-top: 4px solid #ccc;
  transition: 1s linear all;
}
body * {
  font-family: "Vollkorn", serif;
}
.up-down {
  display: inline;
  margin-right: 0.5em;
  cursor: pointer;
}
.up-down img {
  width: 15px;
}
.add {
  display: inline;
  margin-left: 0.5em;
  cursor: pointer;
}
.add a {
  text-decoration: none;
}
.add img {
  vertical-align: middle;
  width: 20px;
}
.toggle {
  display: inline;
  font-size: 0.75em;
  margin-left: 0.5em;
}
.toggle a {
  text-decoration: none;
  color: var(--font-color);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  flex-direction: column;
  margin: 2em auto 2em auto;
}
.poemes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}
.reverse {
  flex-direction: column-reverse;
}
.poeme-titles.reverse {
  flex-direction: column-reverse;
}
.poeme {
  background: var(--panel-color);
  margin: 0 0.5em 2em 0.5em;
  border: 3px solid #ccc;
  padding: 1em 2em;
  box-shadow: rgba(50, 50, 50, 0.5) 0px 8px 24px;
}
.poeme-content .poeme-title {
  font-weight: 700;
  margin-bottom: 0.5em;
  background-color: #000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  background-clip: text;
}
.poeme-date {
  margin: -1.5em 0 0.5em 0;
  font-size: 0.7em;
  color: #bbb;
}
.poeme-date a {
  text-decoration: none;
  color: #bbb;
  padding: 0.25em;
  margin: 0 -0.25em 0 -0.25em;
}
.poeme-date a:hover {
  background: #eee;
}
.poeme-content {
  margin-bottom: 0.5em;
}
.poeme-notes {
  background: #eee;
  padding: 0.5em 1em;
  margin: 1em 0 0 0;
  border: 3px solid #ccc;
  font-size: 0.8em;
  max-width: 500px;
  animation: fadeIn 2s;
}
.id {
  font-size: 20px;
  color: #555;
  position: relative;
  top: -1.3em;
  left: -0.7em;
  margin-left: -28px;
  width: 20px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: -1.5em;
}
.hidden,
.to_show {
  display: none;
}
.visible {
  display: block;
}
#search {
  background: #ddd;
  border: none;
  font-size: 25px;
  padding: 0.5em 1em;
  font-family: "Vollkorn", serif;
  width: 75%;
  max-width: 350px;
}
#nb-results {
  display: inline-block;
  color: var(--day-color);
  margin-top: 1em;
  font-size: 0.8em;
}
#reset {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1em;
  background: var(--day-color);
  border: 0;
  font-size: 0.8em;
  padding: 0.25em;
  color: var(--font-color);
}
#reset.hidden {
  display: none;
}
.search_wrapper {
  margin: 0 1em 1.5em 1em;
  text-align: center;
}
.action-button {
  background: #eee;
  font-size: 0.6em;
  padding: 0.3em 0.5em;
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5em;
}
.action-button a {
  text-decoration: none;
  color: black;
}
.action-button img {
  width: 1em;
  vertical-align: middle;
  margin-right: 0.3em;
}
.themes {
  margin: 0.25em 0;
}
a.theme {
  font-size: 0.75em;
  color: #888;
  margin-right: 0.5em;
  text-decoration: none;
  padding: 0.25em;
}
a.theme:hover {
  background: #eee;
}
.hashtag {
  color: #333;
}
.count {
  color: #333;
  font-size: 0.8em;
  vertical-align: center;
}

summary {
  font-size: 0.8em;
}
details {
  text-align: left;
  margin: 0.5em 0;
}
details .poeme {
  max-width: 800px;
  margin: 0 auto;
}

.poeme-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.poeme-titles .poeme-title {
  color: #111;
  margin: 0 0.5em 0.5em 0;
  text-decoration: none;
  background: #f5f5f5;
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  cursor: pointer;
}
.poeme-titles #reset-poeme-titles {
  width: 1.5em;
  cursor: pointer;
  margin: 0 0.25em 0.5em 0;
}
.poeme-titles .poeme-title.active {
  background: #ccc;
}
.poeme-titles .poeme-title.visible {
  display: block;
}
.poeme-titles .poeme-title.hidden {
  display: none;
}
.rows {
  display: flex;
}
.left {
  max-width: 300px;
  margin-right: 1em;
}
.days {
  margin: 1em 0;
}
.day {
  display: inline-block;
  width: 5px;
  background: var(--day-color);
  height: 1px;
  margin-top: 10px;
}
.day.hidden {
  height: 1px !important;
}
.mobile-block {
  display: inline-block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
}
.modal-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

kbd {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: #333333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  width: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body,
  #search {
    font-size: 18px;
  }
  .poeme {
    padding: 1em;
  }
  .id {
    top: -1em;
    left: 1em;
    font-size: 15px;
    margin-bottom: -1em;
  }
  .action-button {
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }
  .rows {
    flex-direction: column;
  }
  .left {
    margin: 0 auto;
    max-width: 90%;
  }
  .poeme-container {
    width: 100%;
  }
  .poeme-titles {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1em auto 1em auto;
  }
  .poeme-titles.reverse {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .add,
  .toggle {
    margin-left: 0.25em;
  }
  #nb-results {
    margin-left: 5px;
  }
  details {
    text-align: left;
    margin-left: 5px;
  }
  .mobile-block {
    display: block;
  }
}

.switch__input {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 1;
}
.switch__label {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #333;
  border-radius: 13px;
  transition: 0.4s;
  margin-right: 0.5em;
  cursor: pointer;
}
.switch__label::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px #333 solid;
  background-color: #fff;
  color: #333;
  transition: 0.4s;
  content: "☀️";
  font-size: 15px;
  font-weight: 900;
  box-sizing: border-box;
}
.switch__input:checked + .switch__label {
  background-color: #fff;
}
.switch__input:checked + .switch__label::before {
  left: calc(100% - 25px);
  border-color: #fff;
  background-color: #333;
  color: #fff;
  content: "☾";
}
