@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  font-size: 25px;
  font-family: 'Vollkorn', serif;
}
body {
  border-top: 4px solid #ccc;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  flex-direction: column;
  margin: 2em auto 2em auto;
}
.poeme {
  margin: 0 .5em 2em .5em;
  border: 3px solid #ccc;
  padding: 1em 2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
}
.poeme-title {
  font-weight: bold;
  margin-bottom: .5em;
}
.poeme-date {
  color: #bbb;
  margin: -1em 0 .5em 0;
  font-size: .7em;
}
.poeme-content {
  margin-bottom: .5em;
}
.poeme-notes {
  background: #eee;
  padding: .5em 1em;
  margin: 1em 0 0 0;
  border: 3px solid #ccc;
  font-size: .8em;
  max-width: 500px;
  animation: fadeIn 2s;
}
.id {
  font-size: 20px;
  color: #555;
  position: relative;
  top: -1.3em;
  left: -.7em;
  margin-left: -28px;
  width: 20px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: -1.5em;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
#search {
  background: #ddd;
  border: none;
  font-size: 25px;
  padding: 10px 20px;
  font-family: 'Vollkorn', serif;
}
#nb-results {
  color: #555;
  margin-top: 0.2em;
  font-size: .8em;
}
.search_wrapper {
  margin-bottom: 2em;
}
.action-button {
  background: #eee;
  font-size: .6em;
  padding: .3em .5em;
  display: inline-block;
  cursor: pointer;
  margin-right: .5em;
}
.action-button a {
  text-decoration: none;
  color: black;
}
.action-button img {
  width: 1em;
  vertical-align: middle;
  margin-right: .3em;
}

@media only screen and (max-width: 768px) {
  body,
  #search {
    font-size: 16px;
  }
  .poeme {
    padding: 1em;
  }
  .id {
    top: -1em;
    left: 1em;
    font-size: 15px;
    margin-bottom: -1em;
  }
  .action-button {
    margin-bottom: .5em;
    font-size: .8em;
  }
}
