@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #777;
  font-size: 25px;
  font-weight: 400;
}
body {
  border-top: 4px solid #ccc;
  transition: 1s linear all;
}
body * {
  font-family: "Vollkorn", serif;
}
@-webkit-keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(5px);
  }
}
body.blur {
  animation-name: blur;
  filter: blur(5px);
}
.up-down {
  display: inline;
  margin-right: 0.5em;
  cursor: pointer;
}
.up-down img {
  width: 15px;
}
.add {
  display: inline;
  margin-left: 0.5em;
  cursor: pointer;
}
.add a {
  text-decoration: none;
}
.add img {
  vertical-align: middle;
  width: 20px;
}
.toggle {
  display: inline;
  font-size: 0.75em;
  margin-left: 0.5em;
}
.toggle a {
  text-decoration: none;
  color: #111;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2;
  flex-direction: column;
  margin: 2em auto 2em auto;
}
.poemes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}
.reverse {
  flex-direction: column-reverse;
}
.poeme-titles.reverse {
  flex-direction: column-reverse;
}
.poeme {
  background: #f5f5f5;
  margin: 0 0.5em 2em 0.5em;
  border: 3px solid #ccc;
  padding: 1em 2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.poeme-content .poeme-title {
  font-weight: 700;
  margin-bottom: 0.5em;
  background-color: #000;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  background-clip: text;
}
.poeme-date {
  margin: -1.5em 0 0.5em 0;
  font-size: 0.7em;
  color: #bbb;
}
.poeme-date a {
  text-decoration: none;
  color: #bbb;
  padding: 0.25em;
  margin: 0 -0.25em 0 -0.25em;
}
.poeme-date a:hover {
  background: #eee;
}
.poeme-content {
  margin-bottom: 0.5em;
}
.poeme-notes {
  background: #eee;
  padding: 0.5em 1em;
  margin: 1em 0 0 0;
  border: 3px solid #ccc;
  font-size: 0.8em;
  max-width: 500px;
  animation: fadeIn 2s;
}
.id {
  font-size: 20px;
  color: #555;
  position: relative;
  top: -1.3em;
  left: -0.7em;
  margin-left: -28px;
  width: 20px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: -1.5em;
}
.hidden,
.to_show {
  display: none;
}
.visible {
  display: block;
}
#search {
  background: #ddd;
  border: none;
  font-size: 25px;
  padding: 10px 20px;
  font-family: "Vollkorn", serif;
}
#nb-results {
  color: #ccc;
  margin-left: calc(30px + 1.5em);
  margin-top: 0.2em;
  font-size: 0.8em;
}
.search_wrapper {
  margin: 0 1em 1.5em 1em;
}
.action-button {
  background: #eee;
  font-size: 0.6em;
  padding: 0.3em 0.5em;
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5em;
}
.action-button a {
  text-decoration: none;
  color: black;
}
.action-button img {
  width: 1em;
  vertical-align: middle;
  margin-right: 0.3em;
}
.themes {
  margin: 0.25em 0;
}
a.theme {
  font-size: 0.75em;
  color: #888;
  margin-right: 0.5em;
  text-decoration: none;
  padding: 0.25em;
}
a.theme:hover {
  background: #eee;
}
.hashtag {
  color: #333;
}
.count {
  color: #333;
  font-size: 0.8em;
  vertical-align: center;
}

summary {
  font-size: 0.8em;
}
details {
  margin: 0.5em 0 0.5em calc(15px + 1.5em);
}
details .poeme {
  max-width: 800px;
  margin: 0 auto;
}

.poeme-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.poeme-titles .poeme-title {
  color: #111;
  margin: 0 0.5em 0.5em 0;
  text-decoration: none;
  background: #f5f5f5;
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  cursor: pointer;
}
.poeme-titles #reset-poeme-titles {
  width: 1.5em;
  cursor: pointer;
  margin: 0 0.25em 0.5em 0;
}
.poeme-titles .poeme-title.active {
  background: #ccc;
}
.poeme-titles .poeme-title.visible {
  display: block;
}
.poeme-titles .poeme-title.hidden {
  display: none;
}
.rows {
  display: flex;
}
.left {
  max-width: 300px;
  margin-right: 1em;
}
.days {
  margin: 0.5em 0;
}
.day {
  display: inline-block;
  width: 5px;
  background: white;
  height: 1px;
  margin-top: 10px;
}
.day.hidden {
  height: 1px !important;
}

@media only screen and (max-width: 768px) {
  body,
  #search {
    font-size: 16px;
  }
  .poeme {
    padding: 1em;
  }
  .id {
    top: -1em;
    left: 1em;
    font-size: 15px;
    margin-bottom: -1em;
  }
  .action-button {
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }
  .rows {
    flex-direction: column;
  }
  .left {
    margin: 0 auto;
    max-width: 90%;
  }
  .poeme-container {
    width: 100%;
  }
  .poeme-titles {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1em auto 1em auto;
  }
  .poeme-titles.reverse {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
